div p-0 
  {{ template "navbar" . }}
  {{ $nrgs := .nrgs }}
  div flex flex-col md:flex-row space-x-9 items-start justify-center
    div w-full md:w-1/2 mb-64
      div bg-yellow-600 text-black py-3 rounded-lg text-center text-2xl font-familjen my-3
        Dashboard
      {{ range $i, $item := .items }}
        {{ $emap := $item.emap }}
        {{ $usermap := $item.usermap }}
        div mt-9
          div flex justify-between
            div
              span hidden
                {{ $item.location }}
              August, 18 2024
              div mt-3
                {{ range $i, $subitem := $nrgs}}
                  div mt-3 flex space-x-3 items-center
                    {{ if index $emap $subitem.Id }}
                      div w-32 badge badge-outine p-3
                        {{ $subitem.Label }}
                      div text-sm text-gray-600
                        a href=/invite/{{$item.guid}}/{{$subitem.Id}}
                          Invite Link
                    {{ else }}
                      div w-32 badge badge-accent p-3
                        {{ $subitem.Label }}
                      div
                        {{ $user := index $usermap $subitem.Id }}
                        {{ $user.email }}
                    {{ end }}
                {{ end }}
            div
              4 hour event
      {{ else }}
        div mt-9
          No events yet.
      {{ end }}
